body {
    background-image: url("../images/5-dots.png");
    background-repeat: repeat;
}

.nav-item {
    font-family: 'Lobster', cursive;
    font-size: 18px;
}

.name {
    font-size: 48px;
    color: white;
    font-family: 'Lobster', cursive;
    text-align: center;
    margin-top: 20%;
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}

.motto {
    font-size: 30px;
    color: white;
    font-family: 'Lobster', cursive;
    text-align: center;
    margin-bottom: 210px;
    -webkit-animation: fadein2 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein2 4s; /* Firefox < 16 */
        -ms-animation: fadein2 4s; /* Internet Explorer */
         -o-animation: fadein2 4s; /* Opera < 12.1 */
            animation: fadein2 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadein2 {
    0% { opacity: 0; }
    50% { opacity: 0;}
    100% { opacity: 1;}
}

/* Firefox < 16 */
@-moz-keyframes fadein2 {
    0% { opacity: 0; }
    50% { opacity: 0;}
    100% { opacity: 1;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein2 {
    0% { opacity: 0; }
    50% { opacity: 0;}
    100% { opacity: 1;}
}

/* Internet Explorer */
@-ms-keyframes fadein2 {
    0% { opacity: 0; }
    50% { opacity: 0;}
    100% { opacity: 1;}
}

/* Opera < 12.1 */
@-o-keyframes fadein2 {
    0% { opacity: 0; }
    50% { opacity: 0;}
    100% { opacity: 1;}
}

.portfolio,
.about,
.contact {
    color: white;
    font-family: 'Lobster', cursive;
    text-align: center;
}

.fullstack {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.projects {
    text-align: center;
    color: #1E90FF;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    transform: rotate(-5deg);
}

.tilt {
    text-align: center;
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    transform: rotate(-5deg);
}

#page {
    text-align: center;
    font-family: 'Lobster', cursive;
    color: dodgerblue;
}

.about-me {
    color: white;
    font-size: 22px;
    font-family: 'Lobster', cursive;
    text-align: center;
}

.contact p {
    font-size: 24px;
}

.cont {
    margin-top: 120px;
}